<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"> <!--esta es la forma para acceder al css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Mercado liebre</title>
  </head>
<%- include('partials/header')%>
<body>
 <!--    <div class="banner">
      <img src="/images/img-home-banner.jpg">
    </div> -->
    <main>
      <!------------------------------------------------------Register-------------------------------------------------->
        <div class="formulario">
      <form method="POST">
        
        <label for="nombre-apellido">Nombre y Apellido</label>
        <input type="text" name="nombre-apellido" id="nombre-apellido" placeholder="Ingresa tu nombre y apellido" required>
        <label for="nacimiento">Fecha de Nacimiento</label>
        <input type="date" id="nacimiento" name="nacimiento">
        <div class="perfil">
          <p>Perfil de usuario</p>
        </div>
        
        <div>
        <label for="comprar">Comprador</label>
        <input type="radio" id="comprar" name="comprar">
      </div>
      
      <div>
        <label for="vender">Vendedor</label>
        <input type="radio" id="vender" name="vender">
      </div>
        <label for="intereses">Seleciona tus intereses:</label>
        <select id="intereses">
            <option value="electro">Electro</option>
            <option value="moda">Moda</option>
            <option value="hogar">Hogar</option>
            <option value="jugueteria">Juguetería</option>
            <option value="vida-sana">Vida sana</option>
        </select>
        <label for="foto">Agrega una foto para tu usuario</label>
        <input type="file" id="foto" name="foto">
        <label for="pass">Ingresa tu contraseña</label><br>
        <input type="password" id="pass" name="pass" placeholder="Ingresa tu contraseña" required>
        <label for="pass">Confirma tu contraseña</label><br>
        <input type="password" id="pass" name="pass" placeholder="Repite la contraseña" required>
        <button class="enviar" type="submit">Enviar</button>
    </form>
</div>
<!-------------------------------------------------------------------------------------------------------------------->
    </main>
</body>
<!------------------------------------------------------FOOTER-------------------------------------------------->
  <%- include('partials/footer') %>.
</html>
